.director-view {
     max-width: 100%;
     color: #222;
     align-items: center;
}

.director-card {
     padding: 20px;
     align-items: center;
     margin: auto;
     text-align: center;
     background-color: rgba(255, 255, 255, 0.75);
}