.genre-view {
     max-width: 100%;
     color: #222;
     align-items: center;
}


.genre-card {
     text-align: center;
     padding: 20px;
     align-items: center;
     margin: auto;
     background-color: rgba(255, 255, 255, 0.75);
}